body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}

header {
    background-color: black !important;
}

.footer {
    margin-top: 20px !important;
    background-color: black !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chart{
    margin: 0 auto;
    width: 70%;
}
